code{
    background-color: #37474F;
    color: #F5F5F5;
    display: block;
    margin: 16px;
    padding: 16px;
}

var{
    color: #29B6F6;
    font-style: normal;
}

p{
    margin: 16px 0;
    padding: 0 8px;
}

.note{
    background-color: #FFECB3;
    color: #FF6F00;
    margin: 16px 0;
    padding: 16px;
}

.note::before{
    border-bottom: 1px solid #FF6F00;
    content: 'Note:';
    display: block;
    font-weight: bolder;
    margin-bottom: 8px;
}

.main-section h2, h1{
    background-color: #8E24AA;
    color: #F3E5F5;
    padding-left: 16px;
}

ol li, ul li{
    padding-left: 16px;
}

nav{
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    width: 25%;
    border-right: 1px solid #B0BEC5;
}

nav header{
    display: block;
}

nav header img{
    width: 100%;
    display: block;
    height: auto;
}

.nav-link{
    display: block;
    padding: 8px 16px;
    border-top: 1px solid #B0BEC5;
}

.nav-link:hover{
    background-color: #9C27B0;
    text-decoration: none;
    color: #fff;
}

#main-doc{
    display: block;
    float: right;
    width: 75%;
    overflow: auto;
}

.folder-structure{
    background-color: #D7CCC8;
    color: #424242;
    padding: 16px;
    margin: 0 16px;
    display: block;
}

.folder-structure ul{
    border-left: 1px dashed black;
}

.folder-structure li::before{
    content: "|__";
    display: inline-block;
    margin-right: 8px;
}

h3, h4{
    margin-left: 8px;
}

@media (max-width: 768px){
    #navbar{
        display: block;
        position: initial;
        overflow: hidden;
        width: 100%;
        text-align: center;
        padding-bottom: 16px;
    }

    #navbar p{
        display: none;
    }

    #navbar header{
        background-color: #ffffff;
    }

    #navbar img{
        width: 512px;
        margin: 0 auto;
        display: block;
    }

    .nav-link{
        display: inline-block;
        padding: 8px 16px;
        font-size: 16px;
        border: none;
    }

    #main-doc{
        display: block;
        width: 100%;
    }
}